/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
