<h2>Comment</h2>
<div class="row">
  <div class="col">
    <form>
      <mat-form-field appearance="fill" class="fill-width">
        <mat-label>Comment text</mat-label>
        <textarea matInput placeholder="Comment" [formControl]="textController"></textarea>
        <mat-error *ngIf=""></mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="submitComment()">submit</button>
    </form>
  </div>
</div>
<hr />

<div class="content">
  <div *ngFor="let comment of comments" class="card">
    <app-comment-box [comment]="comment"></app-comment-box>
  </div>
</div>