.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.example-section {
  margin: 12px 0;
}

#example-radio-group-label{
  margin: 12px 0;
}

mat-check-box{
  margin: 15px 0;
}