<div class="card">
  <div class="card-body">
    <h3 *ngIf="comment.student">{{comment.student.first_name}} {{comment.student.last_name}}</h3>
    <sup>{{comment.createdAt.toLocaleString()}}</sup>
    <p>{{comment.text}}</p>
    <button mat-raised-button (click)="frm.hidden = !frm.hidden">{{frm.hidden?'reply':'close'}}</button>
    <form #frm hidden="true">
      <mat-form-field appearance="fill" class="fill-width">
        <mat-label>Comment text</mat-label>
        <textarea matInput placeholder="Comment" [formControl]="formControl"></textarea>
        <mat-error *ngIf="formError">formError</mat-error>
      </mat-form-field>
    </form>
    <button mat-raised-button [hidden]="frm.hidden" (click)="submitComment()">submit</button>
    <div *ngFor="let sub_comment of comment.comments" class="card">
      <app-comment-box [comment]="sub_comment"></app-comment-box>
    </div>
  </div>
</div>