<mat-card *ngIf="program && institute" class="example-card col-12 col-md-4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{program.name}}</mat-card-title>
    <mat-card-subtitle>{{institute.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/{{program.name}}.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{program.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/program/{{program.id}}" mat-button>View Program</button>
    <a (click)="toggleFavorite()" *ngIf="isLoggedIn()">
      <mat-icon aria-label="Example home icon">{{isFavorite?'favorite':'favorite_outline'}}</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
