<mat-vertical-stepper [selectedIndex]="2">
  <mat-step *ngFor="let chapter of tableOfContent.chapters" [completed]="chapter.active?true:false">
    <ng-template matStepLabel>{{chapter.description}}</ng-template>
    <mat-vertical-stepper [selectedIndex]="1">
      <mat-step *ngFor="let part of chapter.parts" [completed]="part.active?true:false">
        <ng-template matStepLabel>{{part.description}}</ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </mat-step>
</mat-vertical-stepper>