.example-header-image {
  background-image: url('http://localhost:4200/favicon.ico');
  background-size: cover;
}
.mat-card {
  margin: 10px;
}
.bg-img {
  background-image: linear-gradient(to right, white, purple);
  background-size: cover;
}

.box{
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  cursor: pointer;
}

.skills-container {
  padding: 20px;
}

.instructor-image {
  aspect-ratio: 1;
  width: 100%;
  max-width: 100px;
}

.institution-image {
  aspect-ratio: 1;
  width: 100%;
  max-width: 120px;
}

.instructors-container {
  padding: 5px;
}

hr{
  color: rgba(0, 0, 0,40%);
}

.thin{
  font-size: 24px;
  font-weight: 100;
}

div.scrollNav{
  background-color: white;
  overflow:auto;
  white-space: nowrap;
}

div.scrollNav a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollNav a:hover{
  background-color: lightgray;
}

div.scrollNav a:active{
  border-bottom: 2px;
}

a {
  text-decoration: none;
  font-weight: lighter;
}